.form-container {
    display: grid;
    gap: 1rem; /* Space between rows */
    padding: 1rem; /* Outer margin */
    width: 90%;
    margin: auto;
    padding: 16px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Space between columns */
    align-items: center;
}

.form-row.single-column {
    grid-template-columns: 1fr;
}
.form-row.multiple-input{
    grid-template-columns: 52% 31%;
}

.input-width {
    width: 85%;
}

lightning-card {
    margin: 1rem auto;
    max-width: 50rem;
}


/* Name Text Styling */
.label-text {
    margin-top: 1rem;
    color: black;
}

.address {
    font-size: 24px;
}

.asterisk {
    color: red;
    font-weight: bold;
}

/* Bold Name Text */
.label-text strong {
    font-weight: bold;
}